Package: com.fordinary.adrm
Name: iOS-Ad-Remover
Version: 1.3.2
Architecture: iphoneos-arm
Description: A simple script run in terminal that removes ads from the UI in iOS. Terminal Package.
Homepage: http://fordinary.com/projects
Maintainer: M Ford <feedback@fordinary.com>
Author: Fordinary <http://fordinary.com>
Section: Scripting
